---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,600italic,300italic);
@import "flaticon.css";

$openSans: 'Open Sans';
$ptSerif: 'PT Serif';

@import "flaticon.css";


// Our variables
$base-font-family: $openSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgba(0, 0, 0, 0.60);
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;




header {

  padding: 1.5em 0 0;

  .wrapper {
    margin-bottom: 12px;
    position: relative;
    padding: 0;
  }
  .avatar {
    width: 175px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .site-title {
    float: none;
    font-family: $ptSerif;
    font-size: 45px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  .subtitle {
    font-size: 16px;
    font-family: $openSans;
  }

  .links {
    line-height: 0;
    span {
      display: inline-block;
      margin: 20px 5px 0;
      font-size: 20px;
      color: rgba(0,0,0,.6);

      &:hover {
        color: rgba(0,0,0,.85);
      }

      &:before {
        margin:0;
      }
    }
  }

  .site-nav {
    line-height: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
  }
}

.page-content {
  padding: 0;

  .wrapper {
    padding: 0;
  }
}

.home {

  section {
    margin-bottom: 12px;

    header {
      padding: 0 0 0 10px;
      font-family: $openSans;
      font-size: 30px;
      font-weight: 700;
      border-bottom: 3px solid rgba(0, 0, 0, 0.60);
      margin-bottom: 12px;
    }

      .highlights {
        text-align: center;
        margin-bottom: 16px;
        > span {
          padding: 0 20px;
        }
      }

    &.skills {
      > ul {
        margin: 0;
        width: 52%;
        display: inline-block;
        font-size: 15px;

        &.right {
          width: 47%;
        }
      }

      li {
        list-style:none;

        > span {
          font-weight: 700;
        }
      }
    }
  }
}