---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,400italic,600italic,300italic);
@import "flaticon.css";

$openSans: 'Open Sans';
$ptSerif: 'PT Serif';

@import "flaticon.css";


// Our variables
$base-font-family: $openSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #606060;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

header {

  padding: 1.5em 0 0;

  .wrapper {
    margin-bottom: 12px;
    position: relative;
    padding: 0;
  }
  .avatar {
    width: 175px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .site-title {
    float: none;
    font-family: $ptSerif;
    font-size: 45px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  .subtitle {
    font-size: 16px;
    font-family: $openSans;
  }

  .links {
    line-height: 0;
    span {
      display: inline-block;
      margin: 20px 5px 0;
      font-size: 20px;
      color: rgba(0,0,0,.6);

      &:hover {
        color: rgba(0,0,0,.85);
      }

      &:before {
        margin:0;
      }
    }

    .pages {
      font-size: 18px;
      font-family: $openSans;
    }
  }

  .site-nav {
    line-height: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
  }
}

.page-content {
  padding: 0;

  .wrapper {
    padding: 0;
  }
}

.home {

  section {
    margin-bottom: 30px;

    header {
      padding: 0 0 0 0px;
      font-family: $openSans;
      font-size: 18px;
      color: #606060;
      //font-weight: 700;
      border-bottom: 2px solid rgba(0, 0, 0, 0.60);
      //border-top: 4px solid rgba(0, 0, 0, 0.6);
      margin-bottom: 6px;
    }

    .position {
      padding-left: 2px;
      margin-top: 12px;
    }

    .project {
      padding-left: 12px;
      margin-top: 0.5em;
      color: rgba(23, 87, 120, 0.75);
      font-size: 18px;
    }

    .single-line-summary {
      padding-left: 18px;
      font-weight: 700;
    }

    .company {
      line-height: 2em;
    }

    .role {
      font-weight: 700;
      font-size: 20px;
      font-family: $openSans;
      line-height: 2em;
    }

    .dates {
      float: right;
      vertical-align: bottom;
      padding-top: 9px;
    }

    .role-details {
      margin-left: 46px;
      font-weight: 300;
      margin-bottom: 0px;
      font-size: 15px;

      > li {

        line-height: 2.0em;
        font-weight: 300;
        //list-style-position: inside;
        list-style-type: disc;
      }
    }

    .single-line-summary {
      line-height: 2em;
    }

    .highlights {

      height: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
      -ms-text-justify: distribute-all-lines;
      text-justify: distribute-all-lines;

      &.second-row {
        padding: 0 20px;
      }
      .item{
        vertical-align: top;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }

      .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
      }
    }

    .details {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.7em;
      //padding-left: 12px;

      span {
        font-weight: 700;
      }

      .left, .right {
        width: 50%;
      }
      .left {
        float: left;
      }
      .right {
        float:right;
      }
      .category {
        font-weight: 700;
      }
    }

    .narrative {
      margin-top: 12px;
      text-align: justify;
      font-weight: 300;
    }

    .ed-item {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.75em;
    }


  }
}

