<header>

  <div class="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/4369192?v=3&s=460" alt="Rich Gwozdz" class="avatar">
    <div class="site-title" href="{{ site.baseurl }}/">
      <div>Rich</div>
      <div>Gwozdz</div>
      <div class="subtitle">Lead Software Developer</div>
      <div class="links">
        <a href="mailto:r.gwozdz@gmail.com"><span class="flaticon-email5"></span></a>
        <a href="https://github.com/rgwozdz" ><span class="flaticon-socialnetwork363"></span></a>
        <a href="https://www.linkedin.com/in/richard-gwozdz-224b7b17" ><span class="flaticon-linkedin1"></span></a>
        <a href="http://www.slideshare.net/RichardGwozdz/presentations" ><span class="flaticon-slideshare"></span></a>
      </div>
    </div>

    <nav class="site-nav">
      <ul class="contact-list">

      </ul>

      <!--
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      -->
    </nav>
    <img src="http://ghchart.rshah.org/2016rshah" alt="2016rshah's Github chart" />
  </div>

</header>
